body {
    background-color: rgb(238, 238, 238);
}
h1, h2 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
h2, h5 {
    color: red;
}

h5 {
    font-style: italic;
}

.border {
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 30px;
}

#flexCheckChecked {
    padding: 20px;
    margin-top: 15px;
    margin-right: 15px;
}
.select {
    position: relative;
}
.btn-close {
    border: 3px solid rgb(41, 41, 41);
    border-radius: 50%;
    position: absolute;
    background-color: white;
    top: -25px;
    left: 51px;
}